/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Define the scrollbar styles for the custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
	  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	  background-color: #888;
	  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	  background-color: #555;
}
